<div class="row-fluid">
  <div class="span9">

    <% if flash[:notice] %>
      <p class="alert alert-success" >
        <button type=button" class="close" data-dismiss="alert">x</button>
        <strong><%= h flash[:notice] %></strong>
      </p>
    <% elsif flash[:error] %>
      <p class="alert alert-error" >
        <button type=button" class="close" data-dismiss="alert">x</button>
        <strong><%= h flash[:error] %></strong>
      </p>
    <% end %>

    <div class="well">
      <h3>
        indoor condition
        <small><%= DateTime.now.in_time_zone('Tokyo') %></small>
      </h3>

      <div class="row-fluid">
        <div class="span3">
          <h1>28 <small> ℃</small></h1>
        </div>
        <div class="span3">
          <h1>1000 <small> lx</small></h1>
        </div>
      </div>
    </div>

    <% @devices.each do |device| %>
      <div class="well">
        <h3>
          <%= device.name %>
          <small><%= device.comment %></small>
          <div class="btn-group" style="float: right;">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Add IR Signal", new_device_ir_signal_path(device.id) %></li>
              <li><%= link_to "Edit Device", edit_device_path(device.id) %></li>
              <li><%= link_to "Delete Device", device_path(device.id), :method => :delete, :confirm => "Can I delete it?" %></li>
            </ul>
          </div>
        </h3>
        <%= link_to "Signal 01", "", :class => "btn btn-large" %>
        <%= link_to "Signal 02", "", :class => "btn btn-large" %>
      </div>
    <% end %>

    <div class="well">
      <%= link_to "Add Device", new_device_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>
