<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HaimsRails2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <%= link_to "HAIMS2", root_path, :class => "brand" %>
      <ul class="nav">
        <li class="<%= active_path?(root_path) || active_path?(device_index_path) %>">
          <%= link_to "Device", device_index_path %>
        </li>
        <li class="<%= active_path?(management_index_path) %>">
          <%= link_to "Management", management_index_path %>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <%= yield %>
    </div>
  </div>
</body>
</html>
